.cardContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 10px;
  aspect-ratio: 2.015/1;
}

.cardBig {
  grid-row: span 2;
  aspect-ratio: 1/1;
}

.cardImage {
  object-fit: contain;
  z-index: 1;
  max-width: fit-content;
}

.content {
  position: relative;
  z-index: 2;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 20px;
  color: black;
}
